/src/wp-includes/assets/script-loader-packages.php -text binary diff=generated
/src/wp-includes/assets/script-modules-packages.php -text binary diff=generated
/src/wp-includes/assets/script-loader-packages.min.php -text binary diff=generated
/src/wp-includes/assets/script-modules-packages.min.php -text binary diff=generated
/src/wp-includes/icons/** -text binary diff=generated
/src/wp-includes/blocks/*/view.asset.php -text binary diff=generated
/src/wp-includes/blocks/*/view.min.asset.php -text binary diff=generated
