lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

wp-config.php
wp-tests-config.php
phpunit.xml

node_modules
npm-debug.log

# The WordPress output directory.
build

# Operating system specific files
.DS_Store

# Ignore other .gitignore files to allow for personal customizations
.gitignore

# Files related to applying patches
*.rej
*.orig
*.patch
*.diff
