# Aliases names and emails inside of commits.
# See https://git-scm.com/docs/gitmailmap
#
# Some entries appear as duplicates, but are both required to correct
# identities with just the wrong name as well as those with the wrong
# name and also the wrong email address.

Aaron D. Campbell <aaroncampbell@git.wordpress.org> <aaroncampbell@602fd350-edb4-49c9-b593-d223f7449a82>
Aaron Jorbin <jorbin@git.wordpress.org> <jorbin@602fd350-edb4-49c9-b593-d223f7449a82>
Adam Silverstein <adamsilverstein@git.wordpress.org> <adamsilverstein@602fd350-edb4-49c9-b593-d223f7449a82>
Andrea Fercia <afercia@git.wordpress.org> <afercia@602fd350-edb4-49c9-b593-d223f7449a82>
Andrew Nacin <nacin@git.wordpress.org> <nacin@602fd350-edb4-49c9-b593-d223f7449a82>
Andrew Ozz <azaozz@git.wordpress.org> <azaozz@602fd350-edb4-49c9-b593-d223f7449a82>
André <oandregal@git.wordpress.org>
André <oandregal@git.wordpress.org> <oandregal@602fd350-edb4-49c9-b593-d223f7449a82>
Anthony Burchell <antpb@git.wordpress.org> <antpb@602fd350-edb4-49c9-b593-d223f7449a82>
Bernie Reiter <bernhard-reiter@git.wordpress.org>
Boone Gorges <boonebgorges@git.wordpress.org> <boonebgorges@602fd350-edb4-49c9-b593-d223f7449a82>
Dion Hulse <dd32@git.wordpress.org> <dd32@602fd350-edb4-49c9-b593-d223f7449a82>
Dominik Schilling <ocean90@git.wordpress.org>
Dominik Schilling <ocean90@git.wordpress.org> <ocean90@602fd350-edb4-49c9-b593-d223f7449a82>
Drew Jaynes <drewapicture@git.wordpress.org>
Drew Jaynes <drewapicture@git.wordpress.org> <DrewAPicture@602fd350-edb4-49c9-b593-d223f7449a82>
Ella <ellatrix@git.wordpress.org>
Ella <ellatrix@git.wordpress.org> <ellatrix@602fd350-edb4-49c9-b593-d223f7449a82>
Ella <ellatrix@git.wordpress.org> <iseulde@602fd350-edb4-49c9-b593-d223f7449a82>
Ella <ellatrix@git.wordpress.org> <iseulde@git.wordpress.org>
Eric Andrew Lewis <ericlewis@git.wordpress.org> <ericlewis@602fd350-edb4-49c9-b593-d223f7449a82>
Felix Arntz <flixos90@git.wordpress.org> <flixos90@602fd350-edb4-49c9-b593-d223f7449a82>
Gary Pendergast <pento@git.wordpress.org> <pento@602fd350-edb4-49c9-b593-d223f7449a82>
Greg Ziółkowski <gziolo@git.wordpress.org>
Greg Ziółkowski <gziolo@git.wordpress.org> <gziolo@602fd350-edb4-49c9-b593-d223f7449a82>
Helen Hou-Sandi <helen@git.wordpress.org> <helen@602fd350-edb4-49c9-b593-d223f7449a82>
Ian Dunn <iandunn@git.wordpress.org> <iandunn@602fd350-edb4-49c9-b593-d223f7449a82>
Ian Stewart <iandstewart@git.wordpress.org> <iandstewart@602fd350-edb4-49c9-b593-d223f7449a82>
Jake Spurlock <whyisjake@git.wordpress.org> <whyisjake@602fd350-edb4-49c9-b593-d223f7449a82>
James Nylen <jnylen0@git.wordpress.org> <jnylen0@602fd350-edb4-49c9-b593-d223f7449a82>
Jb Audras <audrasjb@git.wordpress.org> <audrasjb@602fd350-edb4-49c9-b593-d223f7449a82>
Jeremy Felt <jeremyfelt@git.wordpress.org> <jeremyfelt@602fd350-edb4-49c9-b593-d223f7449a82>
Joe Dolson <joedolson@git.wordpress.org> <joedolson@602fd350-edb4-49c9-b593-d223f7449a82>
Joe Hoyle <joehoyle@git.wordpress.org> <joehoyle@602fd350-edb4-49c9-b593-d223f7449a82>
Joe McGill <joemcgill@git.wordpress.org> <joemcgill@602fd350-edb4-49c9-b593-d223f7449a82>
John Blackbourn <johnbillion@git.wordpress.org> <johnbillion@602fd350-edb4-49c9-b593-d223f7449a82>
Jonathan Desrosiers <desrosj@git.wordpress.org> <desrosj@602fd350-edb4-49c9-b593-d223f7449a82>
Jonny Harris <spacedmonkey@git.wordpress.org> <spacedmonkey@602fd350-edb4-49c9-b593-d223f7449a82>
Jorge Costa <jorgefilipecosta@git.wordpress.org> <jorgefilipecosta@602fd350-edb4-49c9-b593-d223f7449a82>
Juliette Reinders Folmer <jrf@git.wordpress.org>
K. Adam White <kadamwhite@git.wordpress.org> <kadamwhite@602fd350-edb4-49c9-b593-d223f7449a82>
Kelly Choyce-Dwan <ryelle@git.wordpress.org>
Konstantin Obenland <obenland@git.wordpress.org>
Konstantin Obenland <obenland@git.wordpress.org> <obenland@602fd350-edb4-49c9-b593-d223f7449a82>
Lance Willett <lancewillett@git.wordpress.org> <lancewillett@602fd350-edb4-49c9-b593-d223f7449a82>
Matias Ventura <matveb@git.wordpress.org> <matveb@602fd350-edb4-49c9-b593-d223f7449a82>
Michael Adams <mdawaffe@git.wordpress.org>
Pascal Birchler <swissspidy@git.wordpress.org> <swissspidy@602fd350-edb4-49c9-b593-d223f7449a82>
Peter Wilson <peterwilsoncc@git.wordpress.org> <peterwilsoncc@602fd350-edb4-49c9-b593-d223f7449a82>
Rachel Baker <rachelbaker@git.wordpress.org> <rachelbaker@602fd350-edb4-49c9-b593-d223f7449a82>
Riad Benguella <youknowriad@git.wordpress.org> <youknowriad@602fd350-edb4-49c9-b593-d223f7449a82>
Ryan McCue <rmccue@git.wordpress.org> <rmccue@602fd350-edb4-49c9-b593-d223f7449a82>
Scott Taylor <wonderboymusic@git.wordpress.org> <wonderboymusic@602fd350-edb4-49c9-b593-d223f7449a82>
Sergey Biryukov <sergeybiryukov@git.wordpress.org> <SergeyBiryukov@602fd350-edb4-49c9-b593-d223f7449a82>
Tammie Lister <karmatosed@git.wordpress.org>
Tammie Lister <karmatosed@git.wordpress.org> <karmatosed@602fd350-edb4-49c9-b593-d223f7449a82>
Timothy Jacobs <timothyblynjacobs@git.wordpress.org> <TimothyBlynJacobs@602fd350-edb4-49c9-b593-d223f7449a82>
Tonya Mork <hellofromTonya@git.wordpress.org> <hellofromTonya@602fd350-edb4-49c9-b593-d223f7449a82>
Tonya Mork <hellofromTonya@git.wordpress.org> <hellofromtonya@git.wordpress.org>
Weston Ruter <westonruter@git.wordpress.org> <westonruter@602fd350-edb4-49c9-b593-d223f7449a82>
