{
	"$schema": "./vendor/phpbench/phpbench/phpbench.schema.json",
	"report.generators": {
		"single-add-meta": {
			"title": "Adding post meta",
			"description": "Multiple calls to add_post_meta().",
			"extends": "aggregate",
			"cols": [ "set", "mem_peak", "mode" ]
		},
		"bulk-add-meta": {
			"title": "Bulk adding post meta",
			"description": "Comparing multiple calls to add_post_meta() vs a single call to bulk_add_post_meta().",
			"extends": "single-add-meta",
			"cols": [ "set", "mem_peak", "mode" ]
		}
	},
	"runner.revs": 10,
	"runner.iterations": 3,
	"runner.warmup": 1,
	"runner.env_enabled_providers": [
		"sampler",
		"php"
	]
}
