# Base PHPStan configuration for WordPress Core.
#
# This is kept separate from the main PHPStan configuration file to allow for easy overloading while baseline errors are being fixed.
#
# https://phpstan.org/config-reference

parameters:
	# Cache is stored locally, so it's available for CI.
	tmpDir: ../../.cache

	# The Minimum PHP Version
	phpVersion:
		min: 70400
		max: 80500

	# If it's not enforced by PHP we can't assume users are passing valid values.
	treatPhpDocTypesAsCertain: false

	# These config options are explained in https://phpstan.org/config-reference
	checkFunctionNameCase: true
	inferPrivatePropertyTypeFromConstructor: true

	# Constants whose values may differ depending on the install.
	dynamicConstantNames:
		- ALLOW_SUBDIRECTORY_INSTALL
		- AUTH_SALT
		- AUTOMATIC_UPDATER_DISABLED
		- COOKIEPATH
		- CUSTOM_TAGS
		- DISALLOW_FILE_EDIT
		- DISALLOW_UNFILTERED_HTML
		- EMPTY_TRASH_DAYS
		- ENFORCE_GZIP
		- FORCE_SSL_LOGIN
		- MEDIA_TRASH
		- MULTISITE
		- NOBLOGREDIRECT
		- SAVEQUERIES
		- SCRIPT_DEBUG
		- SECRET_KEY
		- SECRET_SALT
		- SHORTINIT
		- SITECOOKIEPATH
		- UPLOADBLOGSDIR
		- WP_ALLOW_MULTISITE
		- WP_CACHE
		- WP_DEBUG
		- WP_DEBUG_DISPLAY
		- WP_DEBUG_LOG
		- WP_LANG_DIR
		- WP_NETWORK_ADMIN
		- WP_POST_REVISIONS
		- WP_SITEURL
		- WP_USE_THEMES
		- WP_USER_ADMIN
		- WPLANG
		- WPMU_ACCEL_REDIRECT
		- WPMU_PLUGIN_DIR
		- WPMU_SENDFILE

	# What directories and files should be scanned.
	paths:
		- ../../src/wp-admin
		- ../../src/wp-includes
		- ../../src/wp-content/themes/twentyeleven
		- ../../src/wp-content/themes/twentyfifteen
		- ../../src/wp-content/themes/twentyfourteen
		- ../../src/wp-content/themes/twentynineteen
		- ../../src/wp-content/themes/twentyseventeen
		- ../../src/wp-content/themes/twentysixteen
		- ../../src/wp-content/themes/twentyten
		- ../../src/wp-content/themes/twentythirteen
		- ../../src/wp-content/themes/twentytwelve
		- ../../src/wp-content/themes/twentytwenty
		- ../../src/wp-content/themes/twentytwentyfive
		- ../../src/wp-content/themes/twentytwentyfour
		- ../../src/wp-content/themes/twentytwentyone
		- ../../src/wp-content/themes/twentytwentythree
		- ../../src/wp-content/themes/twentytwentytwo
		- ../../src/index.php
		- ../../src/wp-activate.php
		- ../../src/wp-blog-header.php
		- ../../src/wp-comments-post.php
		- ../../src/wp-cron.php
		- ../../src/wp-links-opml.php
		- ../../src/wp-load.php
		- ../../src/wp-login.php
		- ../../src/wp-mail.php
		- ../../src/wp-settings.php
		- ../../src/wp-signup.php
		- ../../src/wp-trackback.php
		- ../../src/xmlrpc.php
	bootstrapFiles:
		- bootstrap.php
	scanFiles:
		- ../../wp-config-sample.php
		- ../../src/wp-admin/includes/ms.php
	excludePaths:
		analyseAndScan:
			- ../../src/wp-admin/includes/noop.php
		analyse:
			# These files are deprecated.
			- ../../src/wp-admin/includes/deprecated.php
			- ../../src/wp-admin/includes/ms-deprecated.php
			- ../../src/wp-includes/deprecated.php
			- ../../src/wp-includes/ms-deprecated.php
			- ../../src/wp-includes/pluggable-deprecated.php
			# These files are sourced by wordpress/gutenberg in `tools/release/sync-stable-blocks.js`.
			- ../../src/wp-includes/blocks
			# Third-party libraries.
			- ../../src/wp-admin/includes/class-ftp-pure.php
			- ../../src/wp-admin/includes/class-ftp-sockets.php
			- ../../src/wp-admin/includes/class-ftp.php
			- ../../src/wp-admin/includes/class-pclzip.php
			- ../../src/wp-includes/ID3
			- ../../src/wp-includes/IXR
			- ../../src/wp-includes/PHPMailer
			- ../../src/wp-includes/Requests
			- ../../src/wp-includes/SimplePie
			- ../../src/wp-includes/Text
			- ../../src/wp-includes/atomlib.php
			- ../../src/wp-includes/class-IXR.php
			- ../../src/wp-includes/class-avif-info.php
			- ../../src/wp-includes/class-json.php
			- ../../src/wp-includes/class-phpass.php
			- ../../src/wp-includes/class-pop3.php
			- ../../src/wp-includes/class-requests.php
			- ../../src/wp-includes/class-simplepie.php
			- ../../src/wp-includes/class-snoopy.php
			- ../../src/wp-includes/class-wp-feed-cache.php
			- ../../src/wp-includes/class-wp-http-ixr-client.php
			- ../../src/wp-includes/class-wp-http-requests-hooks.php
			- ../../src/wp-includes/class-wp-http-requests-response.php
			- ../../src/wp-includes/class-wp-simplepie-file.php
			- ../../src/wp-includes/class-wp-simplepie-sanitize-kses.php
			- ../../src/wp-includes/class-wp-text-diff-renderer-inline.php
			- ../../src/wp-includes/class-wp-text-diff-renderer-table.php
			- ../../src/wp-includes/php-ai-client
			- ../../src/wp-includes/pomo
			- ../../src/wp-includes/rss.php
			- ../../src/wp-includes/sodium_compat
