.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	.wp-block-search__label {
		font-size: var(--form--font-size);
		font-weight: var(--form--label-weight);
		margin-bottom: calc(var(--global--spacing-vertical) / 3);
	}

	.wp-block-search__input {
		border: var(--form--border-width) solid var(--form--border-color);
		border-radius: var(--form--border-radius);
		font-family: var(--form--font-family);
		font-size: var(--form--font-size);
		line-height: var(--form--line-height);
		max-width: inherit;
		margin-right: calc(-1 * var(--button--border-width));
		padding: var(--form--spacing-unit);

		.is-dark-theme & {
			background: var(--global--color-white-90);
		}

		.has-background.has-white-background-color &,
		.has-background.has-green-background-color &,
		.has-background.has-blue-background-color &,
		.has-background.has-purple-background-color &,
		.has-background.has-red-background-color &,
		.has-background.has-orange-background-color &,
		.has-background.has-yellow-background-color & {

			.is-dark-theme & {
				border-color: var(--form--color-text);
			}
		}

		.has-background.has-gray-background-color &,
		.has-background.has-dark-gray-background-color &,
		.has-background.has-black-background-color & {
			border-color: var(--global--color-white);
		}
	}

	.wp-block-search__button {
		@include button-style();
		box-shadow: none;
		margin-left: 0;

		// Switch to outline style for dark mode for better a11y.
		.is-dark-theme & {
	
			&:not(:hover):not(:active) {
				background-color: transparent;
				border-color: currentColor;
				color: var(--global--color-primary);
					
				// Nested
				.has-background & {
					color: var(--local-color-primary);
				}
			}
			
			&:hover,
			&:active {
	
				border-color: transparent;
				
				// Reverse color relationship for dark mode 
				// and dark background palette colors
				&,
				.has-background &,
				.is-dark-theme .has-background[class*="gray"]:not([class*="light"]) &,
				.is-dark-theme .has-background[class*="black"] & {
					background: var(--global--color-primary);
					color: var(--global--color-background);
				}
				
				.has-background[class*="gray"]:not([class*="light"]) &,
				.has-background[class*="black"] &,
				.is-dark-theme .has-background & {
					background: var(--global--color-background);
					color: var(--global--color-primary);
				}
			}
		}

		&.has-icon {
			padding: calc(2 * var(--button--padding-vertical)) calc(0.5 * var(--button--padding-horizontal));
			display: inherit;

			svg {
				width: 40px;
				height: 40px;
			}
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__input,
		.has-background.has-white-background-color & .wp-block-search__input,
		.has-background.has-green-background-color & .wp-block-search__input,
		.has-background.has-blue-background-color & .wp-block-search__input,
		.has-background.has-purple-background-color & .wp-block-search__input,
		.has-background.has-red-background-color & .wp-block-search__input,
		.has-background.has-orange-background-color & .wp-block-search__input,
		.has-background.has-yellow-background-color & .wp-block-search__input {
			border: none;
		}

		&.wp-block-search__text-button,
		&.wp-block-search__icon-button {

			.wp-block-search__button {
				// Search button always needs black contrast against white form background
				&:hover {
					color: var(--global--color-dark-gray);
				}
				
				.is-dark-theme & {
					color: var(--global--color-dark-gray);

					&:hover {
						background-color: var(--global--color-dark-gray);
						color: var(--global--color-white);
					}
				}
			}
		}

		&.wp-block-search__text-button .wp-block-search__button {
			// Match the text button size with the icon button.
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);
		}
	}
}

.wp-block[data-align="center"] > * {
	text-align: center;
}

.wp-block[data-align="center"] {

	.wp-block-search__button-only {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}
}
