.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	&__button-only.aligncenter {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}

	.wp-block-search__label {
		font-size: var(--form--font-size);
		font-weight: var(--form--label-weight);
		margin-bottom: calc(var(--global--spacing-vertical) / 3);
	}

	.wp-block-search__input {
		border: var(--form--border-width) solid var(--form--border-color);
		border-radius: var(--form--border-radius);
		color: var(--form--color-text);
		line-height: var(--form--line-height);
		max-width: inherit;
		margin-right: calc(-1 * var(--button--border-width));
		padding: var(--form--spacing-unit);

		&:focus {
			color: var(--form--color-text);
			border-color: var(--form--border-color);
		}

		.has-background &,
		[class*="background-color"] &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
		}

		.has-background.has-gray-background-color &,
		.has-background.has-dark-gray-background-color &,
		.has-background.has-black-background-color & {
			border-color: var(--global--color-white);
		}
	}

	button.wp-block-search__button {
		margin-left: 0;
		line-height: 1;

		&.has-icon {
			padding: 6px calc(0.5 * var(--button--padding-horizontal));

			svg {
				width: 40px;
				height: 40px;
				fill: currentColor;
			}
		}

		// Switch to outline style for dark mode for better a11y.
		.is-dark-theme & {
	
			&:not(:hover):not(:active) {
				background-color: transparent;
				border-color: currentColor;
				color: var(--global--color-primary);
					
				// Nested
				.has-background & {
					color: var(--local-color-primary);
				}
			}
			
			&:hover,
			&:active {
	
				border-color: transparent;
				
				// Reverse color relationship for dark mode 
				// and dark background palette colors
				&,
				.has-background &,
				.is-dark-theme .has-background[class*="gray"]:not([class*="light"]) &,
				.is-dark-theme .has-background[class*="black"] & {
					background: var(--global--color-primary);
					color: var(--global--color-background);
				}
				
				.has-background[class*="gray"]:not([class*="light"]) &,
				.has-background[class*="black"] &,
				.is-dark-theme .has-background & {
					background: var(--global--color-background);
					color: var(--global--color-primary);
				}
			}
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			background-color: var(--global--color-white);
			border: var(--form--border-width) solid var(--form--border-color);
			border-radius: var(--form--border-radius);

			.wp-block-search__input {
				margin-left: 0;
				margin-right: 0;
				padding-left: var(--form--spacing-unit);
				
				// Add outline for focus styles to override default
				&:focus {
					color: var(--form--color-text);
					outline-offset: -2px;
					outline: 2px dotted var(--form--border-color);
				}
			}

			button.wp-block-search__button {
				padding: var(--button--padding-vertical) var(--button--padding-horizontal);
				
				// Search button always needs black contrast against white form background
				&:hover {
					color: var(--global--color-dark-gray);
				}
				
				.is-dark-theme & {
					color: var(--global--color-dark-gray);

					&:hover {
						background-color: var(--global--color-dark-gray);
						color: var(--global--color-white);
					}
				}

				&.has-icon {
					padding: 6px calc(0.5 * var(--button--padding-horizontal));
				}
			}
		}
	}
}

.wp-block-search__button {
	box-shadow: none;
}
