p {

	line-height: var(--wp--typography--line-height, var(--global--line-height-body));

	// inherits general font style set at <body>
	&.has-background {
		padding: var(--global--spacing-unit);
	}


	&.has-text-color:not(.has-link-color) a {
		color: currentColor;
	}
}
