/*------------------------------------------------------------------------------
  28.0 - Site Icon
------------------------------------------------------------------------------*/

.site-icon-preview .favicon-preview {
	margin: 5px 0 20px;
	overflow: hidden;
	position: relative;
	max-width: 180px;
}

.site-icon-preview .favicon,
.site-icon-preview .browser-title {
	height: 16px;
	left: 88px;
	overflow: hidden;
	position: absolute;
	top: 16px;
}

.site-icon-preview .favicon {
	width: 16px;
}

.site-icon-preview .browser-title {
	left: 109px;
	width: 72px;
	white-space: nowrap;
}

.site-icon-preview .app-icon-preview {
	background-color: #000;
	border-radius: 16px;
	height: 64px;
	overflow: hidden;
	width: 64px;
	margin-top: 5px;
}

/* rtl:ignore */
.site-icon-preview .favicon,
.site-icon-preview .app-icon-preview {
	direction: ltr;
}

.customize-control-site_icon .favicon-preview {
	float: left;
	margin-right: 12px;
	margin-bottom: 0;
}

.customize-control-site_icon .app-icon-preview {
	margin-top: 9px;
}

.site-icon-section button.reset {
	color: #b32d2e;
	text-decoration: none;
	border-color: transparent;
	box-shadow: none;
	background: transparent;
}

.site-icon-section button.reset:focus,
.site-icon-section button.reset:hover {
	background: #b32d2e;
	color: #fff;
	border-color: #b32d2e;
	box-shadow: 0 0 0 1px #b32d2e;
}

.site-icon-section .action-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.site-icon-preview-inline {
	display: flex;
	height: 60px;
	padding: 8px 0 0 8px;
	align-items: flex-start;
	gap: 8px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.site-icon-preview-inline.hidden {
	display: none;
}

.site-icon-preview-inline.customizer {
	width: 275px;
}

.site-icon-preview-inline.settings {
	width: 350px;
	padding: 16px 0 0 16px;
	gap: 16px;
	height: 88px;
	margin-bottom: 20px;
	border: 1px solid #8c8f94;
	border-radius: 4px;
}

.site-icon-preview-inline.settings .home-icon {
	width: 58px;
	height: 58px;
	border-radius: 12.95px;
}

.site-icon-preview-inline.settings:after {
	background: var(--site-icon-url);
}

.site-icon-preview-inline:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	transform: translateX(-25%) translateY(-25%);
	filter: blur(6px);
	opacity: 0.5;
}

.home-icon {
	width: 44px;
	height: 44px;
	flex-shrink: 0;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.site-icon-preview-browser {
	display: flex;
	height: 100%;
	padding: 4px 4px 4px 12px;
	align-items: flex-start;
	gap: 16px;
	flex: 1 0 0;
	z-index: 1;
	border-radius: 10px 0 0 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	background: linear-gradient(180deg, #dcdcde 0%, #bdbdbd 100%);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-icon-preview-browser-buttons {
	fill: #8c8f94;
}

.site-icon-preview-tab {
	display: flex;
	padding: 8px;
	align-items: center;
	gap: 8px;
	flex: 1 0 0;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.site-icon-preview-tab .site-icon {
	width: 24px;
	height: 24px;
}

.site-icon-preview-close-button {
	fill: #50575e;
}

.site-icon-preview-site-title {
	width: 51px;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 1 0 0;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
}
