@media (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}

	#adminmenuwrap {
		view-transition-name: adminmenuwrap;
	}

	#adminmenu > .menu-top {
		view-transition-name: attr(id type(<custom-ident>), none);
	}
}
