/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Colors
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * SCSS Variables.
 *
 * Please use variables from this sheet to ensure consistency across the UI.
 * Don't add to this sheet unless you're pretty sure the value will be reused in many places.
 * For example, don't add rules to this sheet that affect block visuals. It's purely for UI.
 */
/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Colors
 */
/**
 * Fonts & basic variables.
 */
/**
 * Grid System.
 * https://make.wordpress.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-wordpress/
 */
/**
 * Dimensions.
 */
/**
 * Shadows.
 */
/**
 * Editor widths.
 */
/**
 * Block & Editor UI.
 */
/**
 * Block paddings.
 */
/**
 * React Native specific.
 * These variables do not appear to be used anywhere else.
 */
/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Breakpoint mixins
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
.wp-block[data-align=center] > .wp-block-site-logo,
.wp-block-site-logo.aligncenter > div {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-site-logo a {
  pointer-events: none;
}
.wp-block-site-logo .custom-logo-link {
  cursor: inherit;
}
.wp-block-site-logo .custom-logo-link:focus {
  box-shadow: none;
}
.wp-block-site-logo .custom-logo-link.is-transient img {
  opacity: 0.3;
}
.wp-block-site-logo img {
  display: block;
  height: auto;
  max-width: 100%;
}

.wp-block-site-logo.wp-block-site-logo.is-default-size .components-placeholder {
  height: 60px;
  width: 60px;
}
.wp-block-site-logo.wp-block-site-logo > div,
.wp-block-site-logo.wp-block-site-logo .components-resizable-box__container {
  border-radius: inherit;
}
.wp-block-site-logo.wp-block-site-logo .components-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: inherit;
  min-height: 48px;
  min-width: 48px;
  height: 100%;
  width: 100%;
}
.wp-block-site-logo.wp-block-site-logo .components-placeholder .components-form-file-upload {
  display: none;
}
.wp-block-site-logo.wp-block-site-logo .components-placeholder .components-drop-zone__content-text {
  display: none;
}
.wp-block-site-logo.wp-block-site-logo .components-placeholder .components-button.components-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  background: var(--wp-admin-theme-color);
  border-color: var(--wp-admin-theme-color);
  border-style: solid;
  color: #fff;
}
.wp-block-site-logo.wp-block-site-logo .components-placeholder .components-button.components-button > svg {
  color: inherit;
}

.block-library-site-logo__inspector-upload-container {
  position: relative;
}
.block-library-site-logo__inspector-upload-container .components-drop-zone__content-icon {
  display: none;
}

.block-library-site-logo__inspector-upload-container button.components-button,
.block-library-site-logo__inspector-media-replace-container button.components-button {
  color: #1e1e1e;
  box-shadow: inset 0 0 0 1px #ccc;
  width: 100%;
  display: block;
  height: 40px;
}
.block-library-site-logo__inspector-upload-container button.components-button:hover,
.block-library-site-logo__inspector-media-replace-container button.components-button:hover {
  color: var(--wp-admin-theme-color);
}
.block-library-site-logo__inspector-upload-container button.components-button:focus,
.block-library-site-logo__inspector-media-replace-container button.components-button:focus {
  box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
}
.block-library-site-logo__inspector-upload-container .block-library-site-logo__inspector-media-replace-title,
.block-library-site-logo__inspector-media-replace-container .block-library-site-logo__inspector-media-replace-title {
  word-break: break-all;
  white-space: normal;
  text-align: start;
  text-align-last: center;
}

.block-library-site-logo__inspector-media-replace-container .components-dropdown {
  display: block;
}
.block-library-site-logo__inspector-media-replace-container img {
  width: 20px;
  min-width: 20px;
  aspect-ratio: 1;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 50% !important;
}
.block-library-site-logo__inspector-media-replace-container .block-library-site-logo__inspector-readonly-logo-preview {
  padding: 6px 12px;
  display: flex;
  height: 40px;
}