[client]
ssl-mode=DISABLED

# for MariaDB client compatibility
[mariadb]
ssl=0

# cover specific client tools that WP-CLI may call
[mysql]
ssl-mode=DISABLED
[mysqladmin]
ssl-mode=DISABLED
[mysqldump]
ssl-mode=DISABLED
