@view-transition {
	navigation: auto;
}

html:active-view-transition-type(test-forwards) {
	&::view-transition-group(post-content) {
		animation-duration: 1s;
	}
	&::view-transition-old(post-content) {
		animation-name: slide-out-to-left;
	}
	&::view-transition-new(post-content) {
		animation-name: slide-in-from-right;
	}
}

html:active-view-transition-type(test-backwards) {
	&::view-transition-group(post-content) {
		animation-duration: 1s;
	}
	&::view-transition-old(post-content) {
		animation-name: slide-out-to-right;
	}
	&::view-transition-new(post-content) {
		animation-name: slide-in-from-left;
	}
}

@keyframes slide-in-from-left {
	from {
		opacity: 0;
		translate: -100vw 0;
	}
}

@keyframes slide-in-from-right {
	from {
		opacity: 0;
		translate: 100vw 0;
	}
}

@keyframes slide-out-to-left {
	to {
		opacity: 0;
		translate: -100vw 0;
	}
}

@keyframes slide-out-to-right {
	to {
		opacity: 0;
		translate: 100vw 0;
	}
}
